{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Job Applications</title>
    <link rel="stylesheet" href="{% static 'application/style.css' %}">
</head>

<body>

<div class="container application-list-container">

    <form method="POST" action="{% url 'logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>

    <h1>My Job Applications</h1>
<a class="add-button" href="{% url 'application_create' %}">
    + Add Application
</a>
    {% for job in applications %}

        <div class="job-card">

            <h2>{{ job.company }}</h2>

            <p>
                <strong>Job Title:</strong>
                {{ job.job_title }}
            </p>

            <p>
                <strong>Location:</strong>
                {{ job.location }}
            </p>

            <p class="status">
                Status: {{ job.get_status_display }}
            </p>

            <div class="card-actions">
                <a class="edit-link" href="{% url 'application_update' job.pk %}">Edit</a>
                <a class="delete-link" href="{% url 'application_delete' job.pk %}">Delete</a>
            </div>
        </div>

    {% empty %}

        <p>No job applications found.</p>

    {% endfor %}

</div>

</body>
</html>
